.cell {
    font-size: 12px;
    text-align: center;
    line-height: 26px;
    height:26px;
    width:26px;
    border-style:solid;
    border-width:1px;
    border-color:black;
    margin: 1px 1px 1px 1px;
    background-color:#000;
    color:#FFF;
    display:inline;
    float:left;
}

.row {
    clear:both;
}

#grid {
    height:90px;
    width:90px;
    border-style:solid;
    border-width:1px;
    margin:auto;
    margin-top:2%;
}

#totalHeatFormat {
    margin:auto;
    text-align: center;
    display:inline;
}